.card {
  height: 100%;
  transition: all 0.3s;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
}

.link {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

.title {
  margin-bottom: 8px !important;
  font-size: 18px !important;
  line-height: 1.4 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.author {
  margin-bottom: 16px !important;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}

.content {
  margin-bottom: 16px;
  height: 120px;
  overflow: hidden;
}

.line {
  margin-bottom: 4px !important;
  font-size: 14px;
  line-height: 1.6 !important;
}

.tags {
  margin-top: auto;
} 